    <section class="linkBlock clearfix">
      <a href="/<%=: file.slug %>"><img src="/<%= file.slug %>/img.png"></a>
      <div>
        <h2><a href="/<%=: file.relative %>"><%= file.frontMatter.title %></a></h2>
        <%=: file.frontMatter.short %>
        <span class="date"><%=: file.frontMatter.date %></span>
      </div>
    </section>
